<!DOCTYPE html>
<html>
  <head>
    <title>Dicebox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.critUrl = "<%= image_url('crit.png') %>" 
    </script>
    <script type="text/javascript">
      window.diceLogoUrl = "<%= image_url('dicelogo.png') %>" 
    </script>
    <script type="text/javascript">
      window.diceLoginUrl = "<%= image_url('dicelogin.png') %>" 
    </script>
    <script type="text/javascript">
      window.familiarUrl = "<%= image_url('familiar.png') %>" 
    </script>
    <script type="text/javascript">
      window.prestUrl = "<%= image_url('prest.png') %>" 
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
